
var formatTime = function (date1) {
  console.log("1",date1)
  var date = getDate(date1); //返回当前时间对象
  console.log("2",date1)
  var month = date.getMonth() + 1
  var day = date.getDate()
  var hour = date.getHours()
  var myday = date.getDay()//注:0-6对应为星期日到星期六 
  var xingqi
  switch (myday) {
    case 0: xingqi = "周日"; break;
    case 1: xingqi = "周一"; break;
    case 2: xingqi = "周二"; break;
    case 3: xingqi = "周三"; break;
    case 4: xingqi = "周四"; break;
    case 5: xingqi = "周五"; break;
    case 6: xingqi = "周六"; break;
    default: xingqi = "系统错误！"
  } 
  console.log("3",date)
  return month+'-'+day+' '+ xingqi+' '+hour+'点'
}

module.exports = {
  formatTime: formatTime
}